<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - MSSN ILORIN</title>
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Page title</title>
        <link rel="stylesheet" href="/storage/emulated/0/Android/data/com.teejay.trebedit/files/TrebEdit user files/kabiru.css">
        <script src="https://kit.fontawesome.com/65f0f5bcdf.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- Navigation section top.  -->
        <!-- Navigation section top.  -->
        <!-- Navigation section top.  -->
        <nav>
            <div class="left-side-nav">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6WftH7Iv4gFckskYCTN0zRWm_cFcfFAeTwQ&usqp=CAU">
                <ul>
                    <li><a href="#"><i class="far fa-bell"></i></a></li>
                    <li><a href="#"><i class="fas fa-comments"></i></a></li>
                </ul>
            </div>
            <div class="right-side-nav">
                <input type="text" placeholder="Search">
                <div class="online" onclick="settingMenu()">
                    <img onclick="settingMenu()" src="https://pbs.twimg.com/profile_images/1408196238273548289/m13UxFII.jpg">
                </div>
            </div>
        </nav>
        <!-- Content setion -->
        <div class="main-content">
            <!-- Right side nav section -->
            <!-- Right side nav section -->
            <!-- Right side nav section -->
            <div class="left-side">
                <ul class="sideNav">
                    <li><a href="#"><i class="fas fa-home"></i>  Home</a></li>
                    <li><a href="#"><i class="fas fa-quran"></i>  Arabic school</a></li>
                    <li><a href="#"><i class="fas fa-graduation-cap"></i> Scholarship</a></li>
                    <li><a href="#"><i class="far fa-calendar-alt"></i>  Hijra Calendar</a></li>
                    <li><a href="#"><i class="fas fa-utensils"></i>  Halal Food</a></li>
                    <li><a href="#"><i class="fas fa-history"></i>  About</a></li>
                    <hr />
                    <li>
                        <a href="#">
                            <i class="fas fa-cog"></i> Settings/privacy</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-question-circle"></i> Need Help</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-adjust"></i> Theme</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-star-half-alt"></i> Rates this app</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">
                            <i class="fas fa-user-friends"></i> Switch Accounts</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                </ul>


            </div>
            <!-- Center side section -->
            <!-- Center side  section -->
            <!-- Center side. section -->
            <div class="center">
                <div class="user-post">
                    <div class="online-post">
                        <img src="https://pbs.twimg.com/profile_images/1408196238273548289/m13UxFII.jpg">
                        <h4>Username</h4>
                    </div>
                    <div class="post-talk">
                        <textarea placeholder="Add News"></textarea><br />
                        <span class="postVideo"><i class="fas fa-video"></i>Video</span>
                        <span class="postPhoto"><i class="fas fa-camera"></i>Photo</span>
                    </div>
                </div>
                <!------ News Update ----->
                <!------ News Update ----->
                <div class="news-update">
                    <div class="news-post-user">
                        <div class="new-post-user-about">
                            <img src="https://pbs.twimg.com/profile_images/1408196238273548289/m13UxFII.jpg">
                            <h4>Username</h4>
                        </div>
                        <p class="post-date">April 20, 2045 10:30pm</p>
                    </div>
                    <p>Asalaam allay kun, When too much of information is conveyed in a short span of time, there is every likelihood that the receiver would not be able to comprehend the information fully. </p>
                    <img class="postImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6WftH7Iv4gFckskYCTN0zRWm_cFcfFAeTwQ&usqp=CAU">
                    <div class="postRespond">
                        <span class="feel"><i class="fas fa-thumbs-up"></i>780</span>
                        <span class="feel"><i class="fas fa-thumbs-down"></i>3</span>
                        <span class="feel"><i class="fas fa-share"></i>931</span><span class="feel"><i class="fas fa-comment-alt"></i>675</span>
                        <input class="feel comment" placeholder="Comment"><br/>
                        <a href="#">View Comments</a>
                    </div>
                </div>
                <!--  News 2------>
                <!--  News 2-------->
                <div class="news-update">
                    <div class="news-post-user">
                        <div class="new-post-user-about">
                            <img src="https://pbs.twimg.com/profile_images/1408196238273548289/m13UxFII.jpg">
                            <h4>Username</h4>
                        </div>
                        <p class="post-date">May 20, 2021 06:30pm</p>
                    </div>
                    <p>Asalaam allay kun, When too much of information is conveyed in a short span of time, there is every likelihood that the receiver would not be able to comprehend the information fully. </p>
                    <img class="postImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6WftH7Iv4gFckskYCTN0zRWm_cFcfFAeTwQ&usqp=CAU">
                    <div class="postRespond">
                        <span class="feel"><i class="fas fa-thumbs-up"></i>980</span>
                        <span class="feel"><i class="fas fa-thumbs-down"></i>23</span>
                        <span class="feel"><i class="fas fa-share"></i>931</span><span class="feel"><i class="fas fa-comment-alt"></i>65</span>
                        <input class="feel comment" placeholder="Comment"><br/>
                        <a href="#">View Comments</a>
                    </div>
                </div>
                <!------News 3  ------->
                <!------News 3  ------->
                <!------News 3  ------->
                <div class="news-update">
                    <div class="news-post-user">
                        <div class="new-post-user-about">
                            <img src="https://pbs.twimg.com/profile_images/1408196238273548289/m13UxFII.jpg">
                            <h4>Username</h4>
                        </div>
                        <p class="post-date">June 27, 2023 10:00pm</p>
                    </div>
                    <p>Asalaam allay kun, When too much of information is conveyed in a short span of time, there is every likelihood that the receiver would not be able to comprehend the information fully. </p>
                    <img class="postImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6WftH7Iv4gFckskYCTN0zRWm_cFcfFAeTwQ&usqp=CAU">
                    <div class="postRespond">
                        <span class="feel"><i class="fas fa-thumbs-up"></i>70</span>
                        <span class="feel"><i class="fas fa-thumbs-down"></i>93</span>
                        <span class="feel"><i class="fas fa-share"></i>931</span><span class="feel"><i class="fas fa-comment-alt"></i>5</span>
                        <input class="feel comment" placeholder="Comment"><br/>
                        <a href="#">View Comments</a>
                    </div>
                </div>
                <!--    New 4     -->
                <div class="news-update">
                    <div class="news-post-user">
                        <div class="new-post-user-about">
                            <img src="https://pbs.twimg.com/profile_images/1408196238273548289/m13UxFII.jpg">
                            <h4>Username</h4>
                        </div>
                        <p class="post-date">June 27, 2023 10:00pm</p>
                    </div>
                    <p>Asalaam allay kun, When too much of information is conveyed in a short span of time, there is every likelihood that the receiver would not be able to comprehend the information fully. </p>
                    <img class="postImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp9bbGr51nIVvzdZhvt2RVkXsiMmPuSk1k_A&usqp=CAU">
                    <div class="postRespond">
                        <span class="feel"><i class="fas fa-thumbs-up"></i>70</span>
                        <span class="feel"><i class="fas fa-thumbs-down"></i>93</span>
                        <span class="feel"><i class="fas fa-share"></i>931</span><span class="feel"><i class="fas fa-comment-alt"></i>5</span>
                        <input class="feel comment" placeholder="Comment"><br/>
                        <a href="#">View Comments</a>
                    </div>
                </div>
                <!-- ---New 5---- -->
                <!-- 4688999 -->
                <div class="tutorial">
                    <h3>Tutorial</h3>
                    <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzaR86OB8iUxumGRGid_OKLb8IwAvt0bHzWw&usqp=CAU"> <span>Web Dev</span></a>
                    <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzaR86OB8iUxumGRGid_OKLb8IwAvt0bHzWw&usqp=CAU"> <span>Software design</span></a>
                    <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzaR86OB8iUxumGRGid_OKLb8IwAvt0bHzWw&usqp=CAU"> <span>Full stack</span></a>
                </div>
                <!-- 46778 -->
                <div class="news-update">
                    <div class="news-post-user">
                        <div class="new-post-user-about">
                            <img src="https://pbs.twimg.com/profile_images/1408196238273548289/m13UxFII.jpg">
                            <h4>Username</h4>
                        </div>
                        <p class="post-date">April 20, 2045 10:30pm</p>
                    </div>
                    <p>Asalaam allay kun, When too much of information is conveyed in a short span of time, there is every likelihood that the receiver would not be able to comprehend the information fully. </p>
                    <img class="postImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzaR86OB8iUxumGRGid_OKLb8IwAvt0bHzWw&usqp=CAU">
                    <div class="postRespond">
                        <span class="feel"><i class="fas fa-thumbs-up"></i>780</span>
                        <span class="feel"><i class="fas fa-thumbs-down"></i>3</span>
                        <span class="feel"><i class="fas fa-share"></i>931</span><span class="feel"><i class="fas fa-comment-alt"></i>675</span>
                        <input class="feel comment" placeholder="Comment"><br/>
                        <a href="#">View Comments</a>
                    </div>
                </div>
                <!-- ---New 6----- -->
                <div class="news-update last">
                    <div class="news-post-user">
                        <div class="new-post-user-about">
                            <img src="https://pbs.twimg.com/profile_images/1408196238273548289/m13UxFII.jpg">
                            <h4>Username</h4>
                        </div>
                        <p class="post-date">April 20, 2045 10:30pm</p>
                    </div>
                    <p>Asalaam allay kun, When too much of information is conveyed in a short span of time, there is every likelihood that the receiver would not be able to comprehend the information fully. </p>
                    <img class="postImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzaR86OB8iUxumGRGid_OKLb8IwAvt0bHzWw&usqp=CAU">
                    <div class="postRespond">
                        <span class="feel"><i class="fas fa-thumbs-up"></i>780</span>
                        <span class="feel"><i class="fas fa-thumbs-down"></i>3</span>
                        <span class="feel"><i class="fas fa-share"></i>931</span><span class="feel"><i class="fas fa-comment-alt"></i>675</span>
                        <input class="feel comment" placeholder="Comment"><br/>
                        <a href="#">View Comments</a>
                    </div>
                </div>
                <!-- ---Our Location Section $ contact -->
                <div class="location-contact">
                    <h2>Contact Us</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126276.28636998787!2d4.595081913824665!3d8.486354487574024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10364dd6787de18f%3A0x9c511e529bfec267!2sBasin%20Primary%20And%20Secondary%20School!5e0!3m2!1sen!2sng!4v1630076091861!5m2!1sen!2sng"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="contact&copyright">
                        <div class="section" id="section" id="contacts">
                            <div class="social-link">
                                <a href="#">
                                    <img alt="Facebook" src="file:///storage/emulated/0/Pictures/Screenshot/Screenshot_20210820-084932.png" />
                                </a>
                                <a href="#">
                                    <img alt="Twitter" src="file:///storage/emulated/0/Pictures/Screenshot/Screenshot_20210820-084850.png" />
                                </a>
                            </div>
                        </div>
                        <div class="footer">
                            <p>Olakay web , ©copyright 2021</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left side section -->
            <!-- Left side section -->
            <!-- Left side  section -->
            <div class="right-side">
                <div class="event-part">
                    <div class="event-header">
                        <h4>Events</h4>
                        <a href="#">See all</a>
                    </div>
                    <div class="event-main">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp9bbGr51nIVvzdZhvt2RVkXsiMmPuSk1k_A&usqp=CAU">
                        <div class="about-event">
                            <h4>Education</h4>
                            <p><i class="fas fa-map-marker-alt"></i> Basin Gate</p>
                            <p>Cis Quiz</p>
                        </div>
                    </div>
                    <div class="event-main">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp9bbGr51nIVvzdZhvt2RVkXsiMmPuSk1k_A&usqp=CAU">
                        <div class="about-event">
                            <h4>Tech</h4>
                            <p><i class="fas fa-map-marker-alt"></i> CISLT</p>
                            <p>Web design</p>
                        </div>
                    </div>
                </div>
                <div class="advert">
                    <div class="advert-header">
                        <h4> Advertisement </h4>
                        <a href="#">See all</a>
                    </div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQYYi9cq4eFl0iIdkMKveW1kyz9t_yOCuoHA&usqp=CAU" alt="">
                    <hr>
                </div>
                <div class="organiser"></div>
            </div>
        </div>

    </body>

    </html>
    <!-- partial -->

</body>

</html>










































<!DOCTYPE html>
<html>

<head>
    <title>{% block title%}blog app{% endblock%}</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div>
        <nav class="navBar">
            <h3>Blog App</h3>
            <input class="search-post" type="text" placeholder="Search Post">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'posts' %}">Post</a></li>
                <li><a href="{% url 'profile-page' user.id %}">Profiles</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'signout' %}">Sign Out</a></li>
                {% else%}
                <li><a href="{% url 'signin' %}">Sign in</a></li>
                <li><a href="{% url 'register' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class='main-content'>
        <div class="main-content-nav">
            <nav class='leftNav'>
                <ul>
                    <li><a href="#">Message</a></li>
                    <li><a href="#">Scholarship</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </nav>
            <div>
                location map
            </div>
        </div>
        <div class="content-side">
            {% block content%}{% endblock%}
        </div>

    </div>
</body>

</html>